{% extends 'header.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<div class="container text-center">

<p><h4>Контакты для связи:</h4></p>
<br>
<p><a href ='https://t.me/hmdlf' target='_blank'><h5>Телеграм</h5></a></p>
<p><a href ='https://www.linkedin.com/in/12021995/' target='_blank'><h5>LinkedIn</h5></a></p>
<p><h5>Почта:</h5> igor-parij1995@mail.ru</p>

</div>

{% endblock %}
