{% extends 'header.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

{% load static %}


<div class="container text-center">
  <p><img src={% static 'gen.jpg' %} width=50%></p>

<p><h4>Привет! Этот сайт - мое личное портфолио.</h4></p>
<br>
<p><h6>Здесь я планирую выкладывать свои приложения, написанные на Python. Я сделал этот сайт помощью Django.</h6></p>
<p><h6>Во вкладке "Мои приложения" в меню уже есть несколько простых программ. Я постараюсь почаще пополнять данный раздел.</h6></p>
<p><h6>Надеюсь, вы не пожалеете времени, проведенного здесь. Спасибо и удачи!</h6></p>

</div>


{% endblock %}
